* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}
body {
  background-image: url("./assets/images/background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.App {
  margin-top: 100px;
}

@media (orientation: landscape) {
  @media (max-height: 300px) {

    #root {
      height: auto;
    }
  }
}
